#pagination {
    display: flex;
    flex-direction: row;
    margin: 1em 0;

    flex-wrap: wrap;
    justify-content: center;

    .next,
    .pagination-button,
    .prev {
        display: inline-block;
        margin: 0 0.5em;
        padding: 0.5em;
        width: 5em;
        border-radius: 1em;
        background-color: $accentColor;
        color: white;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0 0 10px $mainDark;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: lighten($accentColor, 10%);
            box-shadow: 0 2px 5px rgba($mainDark, .3);
            transform: scale(1.1);
        }

        &:active {
            background-color: darken($accentColor, 10%);
            box-shadow: 0 3px 8px rgba($mainDark, .5);
            transform: scale(1.2);
        }
    }

    .pagination-button {
        margin: 0 0.2em;
        min-width: 35px;
        width: auto;
    }

    .dots {
        margin: 0 0.5em;
        color: rgba($mainDark, .3);
    }
}

.gif-data {
    .add-to-local {
        position: absolute;
        bottom: 1em;
        left: 50%;
        display: flex;
        box-sizing: border-box;
        margin-left: -2.5em;
        padding: 0.5em;
        width: 5em;
        border-radius: 1em;
        box-shadow: 0 0 0 1px $mainLight;
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        transition: 0.3s;

        justify-content: center;

        span{
            margin:auto;
        }

        &:hover {
            background-color: rgba($mainLight, .5);
        }

        &.current { //remove state
            background-color: $mainLight;

            span {
                background-color: $accentColor;
                -webkit-background-clip: text;

                -webkit-text-fill-color: transparent;
            }
        }
    }
}
