.search-field{
     width: 100%;
     margin: 0 auto;
     background-color: white;
     padding:1em;
     box-sizing: border-box;

     input{
          padding:1em;
          font-size: 1.2em;
          border:none;
          border-radius: 1em;
          width:100%;
          max-width: 800px;
          box-sizing: border-box;
          display: block;
          margin: 0px auto;
          background-image: linear-gradient(to right top, $gradient1 0%, $gradient2 100%);
          animation: gradientAnim 30s infinite linear;
          color:white;
          text-transform: uppercase;
          transition: .3s;

          &:focus{
               margin: 2em auto;
          }
     }
}

#upload{
     input{
          opacity: 0;
          visibility: hidden;
     }
}
