@media screen and (max-width:"500px"){
     #body{
          .top-gifs{
               .gif-block{
                    width:100%!important;
                    margin:1em 0;
               }
          }
     }
}

@media screen and (max-width:"800px"){
     #body{
          .top-gifs{
               .gif-block{
                    width:48%;
               }
          }
     }
}
