@import "variables";
@import "inputs";
@import "buttons";
@import "sections";
@import "media";
@import "other";

body, html{
     padding:0px;
     margin:0px;
     font-family: Calibri;
     background-color:$mainbackground;
}
