@import "variables";
@import "inputs";
@import "buttons";
@import "sections";
@import "media";
@import "other";

body,
html {
    margin: 0;
    padding: 0;
    background-color: $mainbackground;
    font-family: Calibri, 'San Francisco', 'Roboto', sans-serif;
}
